#title{
    color:rgb(198, 129, 255);
    background-color:rgb(189, 231, 255);
    margin:0px;
}

hr{
    color:yellow;
    background-color: yellow;
    padding:3px;
    border: 5px;
    border-color:yellow;
}

#Answer{
    margin:5px;
    border:3px solid;
    border-color: rgb(0, 0, 0);
    padding:30px;
    background-color: rgb(75, 167, 75);
}

#numbers{
    position: relative;
}

.number{
    margin: 10px;
    border:5px solid;
    border-color:black;
    padding:10px 20px 10px 20px;
    background-color:rgb(255, 194, 154);
    position:absolute;
}

#one{
    top:0px;
    left:0px;
}

#two{
    top:0px;
    left:78px;
}

#three{
    top:0px;
    left:156px;
}

#four{
    top:68px;
    left:0px;
}

#five{
    top:68px;
    left:78px;
}

#six{
    top:68px;
    left:156px;
}

#seven{
    top:136px;
    left:0px;
}

#eight{
    top:136px;
    left:78px;
}

#nine{
    top:136px;
    left:156px;
}